@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif !important;
}

.primary-theme-bg {
  background-color: #B9FF66;
}

.primary-theme-text {
  color: #B9FF66;
}

.secondary-theme-text {
  color: #191A23;
}

.secondary-theme-bg {
  background-color: #191A23;
}

.ternery-theme-bg {
  background-color: #F3F3F3;
}

.ternery-theme-text {
  color: #F3F3F3;
}